*{font-family:'Handlee', cursive !important;scroll-behavior:smooth}.hero{background-color:#00bc8c}.seccionBlanca{background-color:whitesmoke}.titulo{font-family:'Courgette', cursive !important}a,a:hover{text-decoration:none;color:white}.icono:hover{color:whitesmoke !important;cursor:pointer}

