* {
    margin: 0;
    font-family: 'Nunito', sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  #welcome-section {
    height: 100vh;
    background-color: #42c6c6;
    display: flex;
    justify-content: center;
    align-content: space-between;
  }
  
  .presentacion{
      text-align: center;
      color: whitesmoke;
      font-size: 4.5vh;
      margin-top: 35vh;
  }
  
  #navbar {
    position: fixed;
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background: #008585;
  }
  
  .navbar-link {
    color: #ffbf00;
    font-size: 90%;
    text-decoration: none;
    margin-right: 3%;
    padding: 2vh ;
    align-self: stretch;
  }
  
  .navbar-link:hover {
    background-color: #ffc825;
    color: #008585;
  }
  
  #projects{
      margin: 10vh;
      display: flex;
      flex-flow: column;
     
  }
  
  #titulo{
    font-weight: 600;
    color: #c6003c;
    margin-top: 8%;
  }
  
  img{
      width: 100%;
      justify-self: center;
      margin: 1vh;
      border: solid 1px #008585;
      padding: 2%;
      background-color: #008585;
      margin-bottom: 3%;
  }
  
  a {
    text-decoration: none;
    
  }
  
  h2{
    text-align: center;
    color: #ed0048;
    margin-bottom: 3%;
  }
  
  .footer{
    width: 100%;
    flex-flow: column;
    background: #008585;
    display: flex;
    justify-content: center;
    
  }
  
  #profile-link{
    color: #ffc825;
    padding: 1vh ;
    margin: 1vh;
  }
  
  .icon{
    font-size: 140%;
    padding-top: 5%;
  }
  
  .icon:hover{
    color:#ed0048;
  }
  
  .footer-text, .derechos {
    color: #ffbf00;
    font-size: 100%;
    font-weight: 600;
    text-align: center;
  }
  
  .redes{
    text-align: center;
    padding-top: 2%;
  }
  
  @media (min-width:900px){
    #projects{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 5vw;
    }
     
    .presentacion{
      font-size: 6vh;
    }
  
    .navbar-link{
      font-size: 130%;
    }
  
    .footer-text{
      padding-top: 2%;
    }
    
    .icon{
      font-size: 200%;
    }
  }
  